/* Reset and base styles */
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin-top: 60px;
}
  
/* Navigation styles */
.nav-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(196 127 0 / 78.5%);
  z-index: 1000;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dormant-white-space {
  height: 93px;
}

.custom-padding {
  padding: 4em;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 1rem;
  text-align: center;
  font-size: 1.5rem;  
  letter-spacing: 0.3ch;
  width: 50%;
}

.company-logo {
  width: 20%;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.0em;
  height: 100%;
  width: 100%;
  padding: 1em 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links li a:hover {
  font-weight: bold; /* Moved to avoid specificity issue */
}
  
/* Mobile menu styles */
.mobile-menu ul li a {
  text-decoration:none 
}

.mobile-menu ul li:hover{
  font-weight:bold;}
  